.button-container {
    margin: 20px 0;
}

.category-button.active {
    background-color: darkviolet;
    /* Darker purple for the active button */
    font-weight: bold;
    /* Bold text for the active button */
}