
.downloading-movie-table-container {
    padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
}

.downloading-movie-table-container table {
  width: 100%;
  border-collapse: collapse;
}

.downloading-movie-table-container th,
.downloading-movie-table-container td {
  padding: 8px;
  text-align: left;
}

.downloading-movie-table-container th {
  background-color: rgba(106, 27, 154, 0.2); 
  color: #fff; 
}

.downloading-movie-table-container td {
  background-color: rgba(156, 39, 176, 0.1); 
  color: #fff; 
}

.downloading-movie-table-container td span {
  cursor: pointer;
  margin-right: 10px; 
}

.downloading-movie-table-container td a {
  color: #fff;
  text-decoration: none; 
}

.downloading-movie-table-container td a:hover {
  text-decoration: underline; 