.detailed-movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.detailed-movie-info {
    justify-content: center;
    display: flex;
    margin: 30px;
    width: 70%;
    display: flex;
    padding: 60px;
    background-color: rgba(95, 36, 126, 0.1);
    border-radius: 10px;
}

.movie-title {
    font-size: 30px;
    margin-top: 0px;
    padding-left: 0px;
    padding: 0px;
    padding-bottom: 0;
    padding-top: 0;
}

.movie-details {
    flex-basis: 65%;
}

.release-year {
    padding: 20px;
    padding-left: 0;
    font-size: 15px;
    color: #3b3b3b;
}

.movie-poster-container {
    height: 300px;
    margin: 40px;
    background-color: rgba(155, 95, 187, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.movie-poster {
    height: 100%;
}

.download-icon {
    height: 35px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    border: 1px solid #fff;
    background-color: rgba(106, 27, 154, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgba(106, 27, 154, 0.8);
}