.movie-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d2d2d; /* Black background */
}

.movie-player {
    width: 80%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    background-color: black; /* Sets the background color to black */
}


