.search-container {
    text-align: center;
}

.search-form {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-form label {
    display: block;
    margin: 5px;
    font-size: 1.2rem;
    color: #fff;
}

.search-form input[type="text"] {
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    border: 1px solid #9c27b0;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    width: 200px;
}

.search-form input[type="text"]:focus {
    outline: none;
    border-color: #9c27b0;
}

.search-form button:hover {
    background-color: #7b1fa2;
}