.series-viewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.series-viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.movie-player {
    max-width: 800px;
    height: 450px;
    border-radius: 8px;
    background-color: #000;
}

.season-selector {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    text-align: center;
}

.season-selector label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ad72b7;
}

.season-selector select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ad72b7;
    border-radius: 4px;
    background-color: #222;
    color: #e0e0e0;
}

.details-container {
    width: 100%;
    max-width: 800px;
}

.episode-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.episode-list li {
    background-color: #333;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    text-align: center;
    font-size: 0.9rem;
    width: 60px;
}

.episode-list li:hover {
    background-color: #444;
}

.episode-list li.selected {
    background-color: #ad72b7;
    color: #fff;
    border: 2px solid #ad72b7;
}


@media only screen and (max-width: 600px) {
    .movie-player {
        width: 100%;
    }

    .episode-list {
        grid-template-columns: repeat(3, 1fr);

    }
}