asgiref
certifi
charset-normalizer
colorama
decorator
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
idna
moviepy
numpy
pillow
proglog
PyJWT
requests
setuptools
sqlparse
tqdm
typing_extensions
tzdata
urllib3
wheel
