.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker overlay for dark theme */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it stays on top */
}

.modal {
    background: #2c2c2c;
    /* Dark background for the modal */
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    /* Slightly darker shadow */
    z-index: 1001;
    /* Ensure it stays on top of the overlay */
    color: #ffffff;
    /* Light text color */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    /* Violet border bottom for header */
    padding-bottom: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    /* Light text color */
}

.close-button:hover {
    color: #a29bfe;
    /* Violet hover color */
}

.name-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #444;
    /* Dark border for input */
    background: #3b3b3b;
    /* Dark background for input */
    color: #ffffff;
    /* Light text color */
}

.name-input::placeholder {
    color: #999;
    /* Light placeholder text */
}

.add-profile-button {
    font-size: 16px;
    border-radius: 4px;
    background-color: #6c5ce7;
    /* Violet background for button */
    color: #ffffff;
    /* Light text color */
    border: none;
    cursor: pointer;
}

.remove-profile-button {
    background-color: #d72d09;
}

.add-profile-button:hover {
    background-color: #5a4fcf;
    /* Darker violet on hover */
}