/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 60px;
}



/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Dark background color */
    color: #fff; /* Text color */
    font-size: 25px;
}

/* Header styles */
.App-header {
    background-color: #222; /* Darker background for header */
    padding: 20px;
    font-size: 16px;
}

.title {
    color: #9c27b0; /* Purple color for title */
    font-size: 36px; /* Bigger font size for title */
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    text-align: left; /* Align menu items to the left */
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #9c27b0; /* Purple color on hover */
}
