/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #111; /* Dark background color */
    color: #fff; /* Text color */
    font-size: 25px;
}

/* Header styles */
.App-header {
    display: flex;
    background-color: #222; /* Darker background for header */
    padding: 20px;
    font-size: 16px;
    justify-content: space-between
}

.title {
    color: #9c27b0; /* Purple color for title */
    font-size: 36px; /* Bigger font size for title */
    margin-bottom: 20px;
}


.header-left {
    display: flex;
}


.logo {
    cursor: pointer;
    margin-right: 10px;
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    object-fit: contain; /* Ensures the image keeps its aspect ratio */
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right p {
    margin-right: 10px;
}


.welcome-container {
    padding-right: 20px;
}

.toolbar {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: 20px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.toolbar {
    transform: translateX(-100%);
    position: absolute;
    z-index: 1000;
}

.toolbar.visible {
    transform: translate(0);
}

.toolbar ul {
    list-style-type: none;
    padding: 20px;
}

.toolbar ul li {
    margin-bottom: 10px;
}

.toolbar ul li a {
    color: white;
    text-decoration: none;
}