.text-and-picture {
  display: grid;
  grid-template-columns: auto 1fr; /* First column for image, second column for text */
  grid-gap: 100px; /* Add some space between the image and text */
  margin: 100px;
  align-items: center; /* Center items vertically */
  font-size: 2rem;
}


.round-picture-container {
  width: 500px; /* Adjust the width and height to your desired size */
  height: 500px;
  overflow: hidden; /* Clip the image */
  border-radius: 50%; /* Make the container round */
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.round-picture {
  width: auto; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container vertically */
  display: block; /* Ensure the image is a block element */
}





