body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

h1 {
    color: #9c27b0;
    font-size: 26px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ad72b7;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    font-size: 25px;
}

button {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkviolet;
}